
.third-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    height:30rem;
    margin-top: 4rem;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.third-content-section{
    /* flex: 1; */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain-images > img{
    position: absolute;
} 
.vector-9{
    width: 25rem;
}
.Mask-group{
    width: 30rem;
}
.coloured-dashed{
    position: absolute;
    background-color: #D9D9D9;
    width: 23rem;
    height: 23rem;
    border-radius: 12.5rem;
    border-style: dotted;
    z-index: -1;
}
.title-container{
    position: relative;
}
.aside{
    /* width: 50%; */
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-title{
    font-size: 3rem;
    width: 18rem;
    line-height: 3rem;
    text-shadow: 0 3px 3px;
}
.about{
    font-weight: bold;
}
.about-colour{
    background-color: #FDC221;
    height: 0.3rem;
    width: 5rem;
    position: absolute;
    bottom: 5px;
    left: 10.3rem;
    z-index: -1;
}
.aside-lourem{
    width: 22rem;
    margin-top: 5px;
    font-size: 17px;
    color: #331B3B;
    opacity: 0.8;
}
.explore-btn{
    color: white;
    background-color: #331B3B;
    font-size: 17px;
    font-weight: bold;
    border: none;
    width: 9rem;
    height: 2.5rem;
    border-radius: 8px;
} 
@media (max-width:768px) {
    .third-content{
        margin-top: 2rem;
        height: 25rem;
        margin-top: 0;
    }
    .vector-9{
        width: 18rem;
    }   
    .Mask-group{
        width: 25rem;
    }
    .coloured-dashed{
        width: 18rem;
        height: 18rem;
        border-radius: 9rem;

    }
    .aside-title{
        font-size: 2rem;
        width: 12rem;
        line-height: 2rem;
    }
    .about-colour{
        left: 7.4rem;
        bottom: 8px;
        width: 4rem;
    }
    .aside-lourem{
        font-size: 14px;
        width: 18rem;
        margin-top: 3px;
    }
    .explore-btn{
        font-size: 14px;
        width: 7rem;
        height: 2rem;
        border-radius: 5px;
    }
}
@media (max-width:425px) {
    .third-content{
        width: 100%;
        margin-top: 1rem;
        height: 15rem;
        grid-template-columns: 1fr;
    }
    img{
        display: none;
    }
    .coloured-dashed{
        display: none;
    }
    .aside{
        width: 100%;
        /* margin-right: 5rem; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aside-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aside-title{
        width: 100%;
    }
    .about-colour{
        left: 15.7rem;
        bottom: 1px;
        width: 3.4rem;
    }
}